[submodule "Bots/bot-web-chat"]
	path = Bots/bot-web-chat
	url = https://github.com/HackaTAL/bot-web-chat
[submodule "Bots/bot-slack"]
	path = Bots/bot-slack
	url = https://github.com/HackaTAL/bot-slack
